* {
  margin: 0;
  padding: 0;
}

@keyframes showCity {
  0% {
    width: 0;
  }
  100% {
    width: 170px;
  }
}

.shutterstock__header-nav {
  width: 100%;
  margin-top: 5px;
}
.trending__title {
  display: flex;
  align-items: center;
  padding: 0 20px;
  &-edit {
    margin-top: 5px;
  }
  &-city {
    padding: 5px;
    border-color: rgba(12, 18, 28, 0.12);
    border-radius: 10px;
    color: rgba(12, 18, 28, 0.87);
    margin-top: 5px;
    animation: showCity 0.2s ease-in;
  }
}

.trending__body {
  padding: 0 20px;
}

.home {
  &__trending-container {
    display: flex;
    flex-flow: row wrap;
    padding: 0 20px;
  }

  &__trending-gallery {
    width: 60%;
  }

  &__trending-other {
    flex-basis: 1%;
    // flex-grow: 1;
    margin-left: 10px;
  }
  &__trending-img {
    width:542px;

}

  &__images {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px 16px;
    width: 100%;

    &-card {
      margin-bottom: 24px;
      padding: 0 12px;
      width: 33.3333%;
      flex-wrap: wrap;
      box-sizing: border-box;
    }
    &-titles{
        text-align:center;
    }

    &-preview {
      width: 100%;
    }
  }
}
