.home {
  &__trending-container {
    display: flex;
    flex-flow: row wrap;
  }

  &__trending-gallery {
    width: 60%;
  }

  &__trending-other {
    flex-basis: 1%;
    flex-grow: 1;
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px 16px;
    width: 100%;

    &-card {
      margin-bottom: 24px;
      padding: 0 12px;
      width: 33.3333%;
      flex-wrap: wrap;
      box-sizing: border-box;
    }

    &-preview {
      width: 100%;
    }
  }
}
